body {
    overflow: hidden;
    width: max-content;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
