---
import '@fontsource-variable/plus-jakarta-sans';
import AstroIcon from '@icons/AstroIcon.astro';

interface Props {
	title: string;
	description: string;
	notDisplayFooter?: boolean;
}

const { title, description, notDisplayFooter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="fluid-icon" title="Pablo Koll" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content="Pablo Koll, Portfolio, Software, Developer, Engineer, Koll, Pablo, Web, Programador, Backend, Frontend, Fullstack, Typescript, Javascript, Nestjs, Nodejs, Dev, Resume, CV, Linkedin, Github"/>
    <meta name="robots" content="index, follow" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="canonical" href="https://pablokoll.com" />
    <meta property="og:title" content="Pablo Koll">
    <meta property="og:description" content="Software Developer">
    <meta property="og:url" content="https://pablokoll.com">
    <meta name="author" content="Pablo Koll">

    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-gray-800">
    <slot />
    <footer
      class=`h-10 flex flex-col justify-center items-center text-slate-600 dark:text-slate-300 ${notDisplayFooter ? 'hidden' : ''}`
    >
      <div class="flex">
        <a class= "flex flex-row" href="https://github.com/pablokoll/portfolio" target="_blank" aria-label="Github Link to Portfolio Pablo Koll">Made with
          <AstroIcon />
        </a>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark light;
  }
  :global(.dark) {
    color-scheme: dark;
  }

  html {
    font-family:
      "Plus Jakarta Sans Variable",
      sans-serif,
      system-ui,
      -apple-system,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell;
  }
</style>
